[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
groq = "==0.18.0"
langchain-core = "==0.3.36"
langchain-ollama = "==0.2.3"
langgraph = "==0.2.73"
notebook = "==7.3.2"
openai = "==1.63.2"
pyMuPDF = "==1.25.3"
semantic-kernel = "==1.21.3"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.13"
